@font-face {
  font-family: "Tungsten";
  src: url("../assets/fuente/Tungsten_Font/@font-face/fuente.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fuente/Merriweather/Merriweather-Regular.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fuente/Merriweather/Merriweather-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fuente/Merriweather/Merriweather-Light.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
}
:root{
  /*--- Paleta ---*/
  --blanco:#F7F8F9;
  --negro:#141916;
  --azul:#6653FF;
  --violeta:#6400B0;
  --rosa: #FFB5A9;
  --bordo:#601616;
  /*--- Tipografia ---*/
  --small:2rem;
  --medium:2.4rem;
  --large:3.2rem;
  --xlarge:4rem;
  --jumbo:4.8rem;
  --display:12.8rem;
  /*--- Espacios ---*/
  --space-margen:11.2rem;
  --space-enorme:10.4rem;
  --space-grande:9.6rem;
  --space-mediano:6.2rem;
  --space-intermedio:3.2rem;
  --space-chico:2.4rem;
}
html{
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: var(--blanco);
  font-family: "Merriweather", serif;      
}
section{
  padding: var(--space-margen);
}

h1 {
  font-family: "Tungsten", sans-serif;
  font-weight: bold;
  font-size: var(--display);
  position: relative;
  color: var(--negro);
}

h2 {
  font-family: "Merriweather", serif;
  font-size: var(--medium);
  position: relative;
  color: var(--negro);
}
h3{
  font-family: "Tungsten", sans-serif;
  font-size: var(--jumbo);
  font-weight: bold;
  position: relative;
  color: var(--negro);
}
h4{
  font-family: "Tungsten", sans-serif;
  font-size: var(--large);
  font-weight: bold;
  position: relative;
  color: var(--negro);
}
p{
  font-family: "Merriweather", serif;
  font-size: var(--small);
  position: relative;
  color: var(--negro);
}
b{
  font-weight: bold;
}
.blanco{
  color: var(--blanco);
}
header {
  background-color: var(--negro);
  padding: 1rem var(--space-margen);
}
#cta{
  position: relative;
  background-color: var(--azul);
  font-family: "Tungsten", sans-serif;
  font-size: var(--jumbo);
  color: var(--blanco);
  padding: 2rem 4rem;
}
.separador{
  height: 2rem;
  width: 100%;
  background-color: var(--rosa);
}
.portada {
  position: relative;
  background-image: url("../assets/img/Portada-Desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--space-enorme) 0rem var(--space-enorme) var(--space-margen);
  color: var(--blanco);
}
.portada::before{
  position: absolute;
  content: " ";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.portada > h1{
  padding-bottom:var(--space-chico);
  max-width: 60%;
}
.portada > h2{
  padding-bottom: var(--space-mediano);
  max-width: 55%;
}
.portada > #cta{
margin-bottom: var(--space-enorme);
}
.seccion-1 > .separador{
  margin-top: var(--space-mediano);
  margin-bottom: var(--space-mediano);
}
.bullet{
  display: flex;
  gap: var(--space-mediano);
  padding: var(--space-intermedio) 0rem;
}
.seccion-2{
  background-color: #6400B0;
}
.seccion-2 > .titulo{
  display: flex;
  align-items: baseline;
  gap: var(--space-intermedio);
  padding: var(--space-enorme) 0px;
}
.seccion-2 > .titulo > h3{
  width: 100%;
}
.seccion-2 > .titulo > .separador{
  width: 50%;
}
.seccion-2 > .contenido{
  margin-top: 2rem;
  display: flex;
  gap: var(--space-intermedio);
}
.seccion-2 > .contenido > div{
max-width: 33%;
}
.seccion-2 > .contenido > div > h4{
  margin-bottom: var(--space-chico);
}
.seccion-2 > .contenido > div > p{
  margin-bottom: var(--space-mediano);
}
.seccion-2 > .img{
  display: flex;
  align-items: center;
}
.seccion-2 > .img > img{
  width: 100%;
}
.seccion-2 > .final{
  padding-top: var(--space-grande);
  display: flex;
  align-items: baseline;
  gap: var(--space-chico);
}
.seccion-2 > .final > .separador{
width: 30%;
}
.seccion-2 > .final > h3{
text-align: center;
}

.seccion-3{
display: flex;
gap: var(--space-intermedio);
}
.seccion-3 > .contenido{
  width: 60%;
}
.img-2{
  height: 100%;
}
.img-2 > img{
  width: 100%;
  height: 55vw;
}
.seccion-3 > .contenido > h4{
  padding-bottom: var(--space-chico);
}
.seccion-3 > .contenido > p{
  padding-bottom: var(--space-chico);
}
.seccion-3 > .contenido > #cta{
  
  padding-top: var(--space-grande);
}
